{
  "name": "{{ slug }}",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "astro dev",
    "build": "astro build",
    "preview": "astro preview",
    "astro": "astro"
  },
  "dependencies": {
    "astro": "{{ versions['astro'] }}",
    "@tailwindcss/vite": "{{ versions['@tailwindcss/vite'] }}",
    "tailwindcss": "{{ versions['tailwindcss'] }}"
  }
}
